<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Histórico
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Actualizar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chart-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Total: {{total}} Wh</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-data">
          <div>Inversor 1: {{inverter1Total}} Wh</div>
          <div>Inversor 2: {{inverter2Total}} Wh</div>
          <div>Producción: {{productionTotal}} Wh</div>
          <div>Consumo: {{consumptionTotal}} Wh</div>
        </div>
        <div class="chart">
          <canvas baseChart
                  [datasets]="historicChartData.datasets"
                  [labels]="historicChartData.labels"

                  chartType="'line'">
          </canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
