<ion-header [translucent]="true" style="position: fixed">
  <ion-toolbar>
    <ion-title slot="start">
      ACTUAL
    </ion-title>
    <ion-buttons>
      <ion-button (click)="updateData()">ACTUALIZAR</ion-button>
    </ion-buttons>
    <ion-item slot="end">
      {{date}}
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-card style="margin-top: 65px">
  <ion-grid>
    <ion-card-header>
      <ion-card-title>Producción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row nowrap>
        <ion-col>
          <ion-label>
            <p>Inversor 1:</p>
            <b>{{inverterOne.pvInputPower1}} W </b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <p>Inversor 2:</p>
            <b>{{inverterTwo.pvInputPower1}} W </b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="success">
            <p>Produciendo:</p>
            <b>{{inverterOne.pvInputPower1 + inverterTwo.pvInputPower1}} W </b>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="danger">
            <p>Consumo:</p>
            <b>{{inverterOne.totalAcOutputActivePower}} W </b>
          </ion-label>
        </ion-col>
        <ion-col>

          <ion-text>
            <h1><b>Total:</b></h1>
          </ion-text>
          <h2>
            <b>{{inverterOne.pvInputPower1 + inverterTwo.pvInputPower1 - inverterOne.totalAcOutputActivePower}}
              W </b></h2>
        </ion-col>
      </ion-row>

      <div>
        <canvas baseChart
                [data]="productionChartData"
                [options]="productionChartOptions"
                [type]="'bar'">
        </canvas>
      </div>

    </ion-card-content>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title style="width: 60%; display: inline-block">Baterías</ion-card-title>

          <ion-icon
            *ngIf="(inverterTwo.totalChargingCurrent - inverterTwo.batteryDischgCurrent - inverterOne.batteryDischgCurrent ) <= 0 "
            size="large" style="margin-bottom: 5px !important; display: inline-block; vertical-align: middle"
            name="battery-half-outline"></ion-icon>
          <ion-icon
            *ngIf="(inverterTwo.totalChargingCurrent -inverterTwo.batteryDischgCurrent- inverterOne.batteryDischgCurrent ) > 0 "
            size="large" style="margin-bottom: 5px !important; display: inline-block; vertical-align: middle"
            color="success" name="battery-charging-outline"></ion-icon>

        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <div style="display: inline-block; width: 50%">
        <canvas baseChart
                [data]="batteryChartData"
                [options]="batteryChartOptions"
                [type]="'doughnut'">
        </canvas>
      </div>
      <ion-col style="display: inline-block; width: 50%; vertical-align: top; margin-top: 20px">
                <span
                  *ngIf="(inverterTwo.totalChargingCurrent -inverterTwo.batteryDischgCurrent - inverterOne.batteryDischgCurrent ) <= 0 ">
                <ion-text
                  color="medium">
                    Descargando...
                </ion-text>
                <ion-label color="medium">
                    <b>{{(inverterTwo.totalChargingCurrent - inverterTwo.batteryDischgCurrent - inverterOne.batteryDischgCurrent)}}
                      A </b>
                </ion-label>
                </span>
        <span
          *ngIf="(inverterTwo.totalChargingCurrent -inverterTwo.batteryDischgCurrent - inverterOne.batteryDischgCurrent  ) > 0 ">
                <ion-text
                  color="success">
                    Cargando...
                </ion-text>
                <ion-label color="success">
                    <b>{{inverterTwo.totalChargingCurrent - inverterTwo.batteryDischgCurrent - inverterOne.batteryDischgCurrent}}
                      A </b>
                </ion-label>
                </span>
        <ion-text>
          <h2>Voltaje:<b> {{inverterTwo.batteryVoltage}} V </b></h2>
        </ion-text>
      </ion-col>
    </ion-card-content>
  </ion-grid>
</ion-card>
